{#
/**
 * @file
 * Theme for a doi type field.
 *
 * To override output, copy the "field--field-doi.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content array contains:
 *      - title - The publication title
 *      - author - The formatted string of authors
 *      - abstract - the publication abstract
 *      - date - Data from the publication creation date
 *        - time - a datetime formatted time
 *        - text - a formatted date string
 *      - link - Link to publication
 *      - pdf - Link to the publication pdf
 * - field_name: The name of the field.
 * - data_labels: Whether to show the field elements labels or not.
 *
 * @see template_preprocess_field__field_doi()
 */
#}

{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-doi_field',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% if not label_hidden and not items is empty %} 
    <div{{ title_attributes.addClass(title_classes) }}>
      {{ label }}
    </div>
  {% endif %} 
  {% if multiple %}
    <div class="field__items">
  {% endif %}
  {% for key,item in items %}
    <div{{ item.attributes.addClass('field__item') }}>
      {% set content = item.content %}
      {% if content.title %}
         <h3 class="publication-title">{{ content.title|raw }}</h3>
      {% endif %}
      {% if content.author %}
        {% if data_labels %}
          <h4> {{ 'Author'|t }}</h4>
        {% endif %}
        <div class="publication-author">{{ content.author }}</div>
      {% endif %}
      {% if content.abstract %}
        {% if data_labels %}
          <h4> {{ 'Abstract'|t }}</h4>
        {% endif %}
        <div class="publication-abstract">{{ content.abstract|raw }}</div>
      {% endif %}
      {% if content.date %}
        {% if data_labels %}
          <h4> {{ 'Publication Date'|t }}</h4>
        {% endif %}
        <div class="publication-time">
          <time datetime="{{ content.date.time }}">{{ content.date.text }}</time>
        </div>
      {% endif %}
      {% if content.link %}
        {% if data_labels %}
          <h4> {{ 'Link to Publication'|t }}</h4>
        {% endif %}
        <div class="publication-link">
          <a href="{{ content.link }}" target="_blank" rel="noopener noreferrer">
            {{ content.link }}
          </a>
        </div>
      {% endif %}
      {% if content.pdf %}
        <div class="publication-pdf">
          <a href="{{ content.pdf }}" target="_blank" rel="noopener noreferrer">
            {{ 'Publication Pdf'|t }}
          </a>
        </div>
      {% endif %}
    </div>
  {% endfor %}
  {% if multiple %}
    </div>
  {% endif %}
</div>